<ul>
    <li>
        <a href="/">HOME</a>
    </li>
    <li>
        <a href="messages">START CHAT</a>
    </li>
    <li>
        <a href="#">MESSAGES</a>
    </li>
    <li style="float:right">
        <a class="active" href="#about">signup</a>
    </li>
    <li style="float:right">
        <a class="active" href="#about">login</a>
    </li>
</ul>